@import 'fontawesome';
@import 'reset';

body {
    margin: 0;
    min-height: 100vh;
}


// NOTE: 廣告使用的scss
.vjs-ad_container {
    background: rgba(1,1,1,0.8);
    color: #CCC;
    position: relative;
    height: 50%;
    width: 50%;
    border-radius: 5px;
    margin: 0 25%;
    top: 25%;
    font-size: 80px;
    display:flex;
    flex-direction: column;

    @media screen and (max-width:830px) {
        font-size: 40px;
    }
    @media screen and (max-width:490px) {
        font-size: 20px;
    }

    .vjs_con_title, .vjs_con_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
    .vjs_con_content {
        cursor: pointer;
        a {
            color:wheat;
        }
    }

    &.vjs-ad-hide {
        display: none;
    }
}
